body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.ami {
    color: chocolate;
}

.flexible-container {
    display: flex;
    padding-bottom: 200px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 60%;
    padding-left: 10%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, salmon);
    font-weight: 700;
    color: white;

    padding: 10px 40px;
    border-radius: 5px;
}

.she {
    width: 60%;
    height: 50%;
}

#tumi {
    padding-right: 150px;

}

.experience-area {
    box-shadow: 10px 10px 30px gray;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    border-left: 7px solid salmon;
}

.experience-item {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#hi {
    border-left: 7px solid blue;
}



.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

footer p {
    text-align: center;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}