body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.ami {
    color: chocolate;
}

section {
    display: flex;
    padding-bottom: 200px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 60%;
    padding-left: 10%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, salmon);
    font-weight: 700;
    color: white;

    padding: 10px 40px;
    border-radius: 5px;
}

.she {
    width: 60%;
    height: 50%;
}

#tumi {
    padding-right: 150px;

}



.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}